.form-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(217, 224, 214, 0.753);
}

.form-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.form-field {
  width: 100%;
}

.form-button {
  justify-self: flex-end;
}

@media (max-width: 600px) {
  .form-row {
    grid-template-columns: 1fr;
  }
}
